@font-face {
  font-family: "Gilroy";
  /*src: url("/fonts/Gilroy-Bold.eot");*/
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  /*url("/fonts/Gilroy-Bold.ttf") format("truetype");*/
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  /*src: url("/fonts/Gilroy-Medium.eot");*/
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  /*url("/fonts/Gilroy-Medium.ttf") format("truetype");*/
  font-weight: 500;
  font-style: normal;
}

body  {
  margin: 0;
  padding: 0;
}
.body {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  background: #ffffff;
}
.img-container img {
  max-width: 100%;
}
/*.wrapper  {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  width: 100%;
  text-align: center;

  max-width: 945px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.header {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  max-height: 88px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}

.menu {
  max-width: 945px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 17px;
  background-color: white;
  padding-bottom: 16px;
}

.menu > ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.menu > ul > li {
  display: flex;
}
.menu > ul > li > a {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  text-decoration-line: none;
}
.menu > ul > li > a:hover {
  text-decoration-line: none;
  color: #070707;
}

.hr-line  {
  max-width: 940px;
  margin: 0 auto 0 auto;
}

.main {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  padding-top: 12px;
}

.info-panel {
  margin-left: auto;
  margin-right: auto;
  max-width: 945px;
}
.info-panel > ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.info-panel > ul > li {
  display: flex;
}
.name {
  text-align: left;
  font-size: 47px;
  line-height: 58px;
  display: flex;
  flex-direction: column;
}
.info {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 18px;
  line-height: 22px;
  margin-top: 64px;
  margin-right: -520px;
  display: flex;
  flex-direction: column;
}
.lang-selector  {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-self: flex-end;
  text-align: left;
  transform: rotate(-90deg);
  margin-left: 564px;
  margin-right: -18px;
  margin-bottom: 30px;
  text-decoration-line: none;
}
.lang-selector > a  {
  color: #828282;
  text-decoration-line: none;
}
.lang-selector > a:hover  {
  color: #070707;
}

.photo  {
  margin: 0 auto 0 auto;
  padding-top: 30px;
  padding-bottom: 100px;
  max-width: 945px;
}
.photo > img  {
  max-width: 100%;
}

.about  {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  width: 100%;
  background: #F6F6F6;
  padding-top: 120px;
  padding-bottom: 78px;
  text-align: center;
  min-height: 338px;
}
.about h1 {
  font-size: 34px;
  line-height: 42px;
  padding-bottom: 35px;
  margin: 0;
}
.about p{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  margin: 0;
}
#about-p1-second {
  padding-bottom: 45px;
}
#about-p2-second   {
  padding-bottom: 48px;
}
#about-p2-first, #about-p3-first {
  margin: 0;
}
/*.p1  {
  margin-top: -10px;
}
.p2  {
  margin-top: 40px;
}
.p3 {
  margin-top: 40px;
}*/

.skills {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-right: auto;
  margin-left: auto;
  max-width: 945px;
  text-align: center;
  padding-top: 84px;
  padding-bottom: 110px;
}
.skills > h1  {
  margin: 0;
  font-size: 34px;
  line-height: 42px;
  padding-bottom: 69px;
}
/*.skills > p*/
#skills-p  {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}
.programs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 88px;
}
.programs > .PS, .AI, .AAE, .Figma  {
  width: 164px;
}
.programs .img-container > img {
  height: 90px;
  -webkit-filter: grayscale(0);
  transition: filter 0.5s ease-in-out;
}
.programs .img-container > img:hover {
  -webkit-filter: grayscale(100);
}
.program-name {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 17px;
  padding-top: 22px;
}
.program-name span  {
  color: #828282;
}
.program-rating {
  padding-top: 40px;
}
.program-rating > .img-container {
  display: flex;
  justify-content: space-between;
}
.programs .program-rating > .img-container > img  {
  width: 22px;
  height: 20px;
}
/*.programs-pics  {
  display: flex;
  justify-content: space-around;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 88px;
  padding-bottom: 22px;
}
.programs-name  {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-bottom: 40px;
}
.programs-name > ul{
  display: flex;
  padding: 0;
  margin: 0;
}
.programs-name > ul > li  {
  display: flex;
}*/

.portfolio  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #F6F6F6;
  padding-top: 113px;
  padding-bottom: 126px;
}
/*.img-container  {
  display: flex;
  flex-direction: column;
  max-width: 934px;
  margin-left: auto;
  margin-right: auto;
}
.img-container > img  {
  padding-bottom: 45px;
  max-width: 100%;
}
.img-container > a  {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #070707;
  padding-bottom: 100px;
}*/
.portfolio > h1 {
  font-size: 34px;
  line-height: 42px;
  margin: 0;
  padding-bottom: 64px;
}
/*.portfolio > img  {
  margin-left: auto;
  margin-right: auto;
  max-width: 945px;
  padding-bottom: 45px;
}*/
.portfolio > .img-container {
  width: 936px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 99px;
}
.portfolio img  {
  padding-bottom: 45px;
}
.portfolio a{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #070707;
}

.footer {
  padding-top: 84px;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  padding-bottom: 77px;
  text-align: center;
}
.contacts {
  margin-left: auto;
  margin-right: auto;
  max-width: 945px;
}
.contacts > h1  {
  font-size: 34px;
  line-height: 42px;
  margin: 0;
  padding-bottom: 33px;
}
.contacts > p {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  margin: 0 0 11px 0;
  padding-bottom: 35px;
}
#footer-first, #footer-second  {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
.contact-pics  {
  margin-top: 94px;
  margin-bottom: 45px;
}
.contact-pics > .img-container {
  max-width: 342px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.contact-pics img {
  transition: 0.5s ease-in-out;
}
.contact-pics img:hover {
  transform: scale(1.1);
}

@keyframes change-color {
  from  {background-color: #070707;}
  to  {background-color: #828282;}
}

.contacts > a  {
  text-decoration-line: none;
  background-color: #070707;
  font-size: 18px;
  line-height: 22px;
  height: 42px;
  width: 180px;
  text-align: center;
  border: none;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}
.contacts > a:hover  {
  animation-name: change-color;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.slider {
  position: relative;
  max-width: 938px;
  max-height: 510px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 57px;
}
.slider#first-slider  {
  padding-bottom: 45px;
}
.slider#second-slider, .slider#third-slider {
  margin-top: 100px;
}
.slider:hover > input {
  opacity: 1;
}
input {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px;
  background-clip: content-box;
  background-color: white;
  border: 2px solid #828282;
  transition: 0.2s all ease-in-out;
  opacity: 0;
}
input:hover {
  background-color: #828282;
}
input:checked {
  background-color: #070707;
}
.slider-pic  {
  width: 937px;
  height: 522px;
}
.slider-pic#first-site  {
  height: 510px;
}
.slider-pic#first-site  {
  background-image: url("../pics/Portfolio1.png");
}
.slider-pic#second-site  {
  background-image: url("../pics/Portfolio2.png");
}
.slider-pic#third-site  {
  background-image: url("../pics/Portfolio3.png");
}
input[id^="radio"]  {
  position: absolute;
  left: 890px;
}
#radio-1-1  {
  top: 197.5px;
}
#radio-1-2  {
  top: 237px;
}
#radio-1-3  {
  bottom: 245.5px;
}
#radio-2-1, #radio-3-1  {
  top: 203.5px;
}
#radio-2-2, #radio-3-2  {
  top: 243px;
}
#radio-2-3, #radio-3-3  {
  bottom: 251.5px;
}
/*#radio-1-1, #radio-2-1, #radio-3-1  {
  position: absolute;
  top: 197.5px;
  left: 890px;
}
#radio-1-2, #radio-2-2, #radio-3-2  {
  position: absolute;
  top: 237px;
  left: 890px;
}
#radio-1-3, #radio-2-3, #radio-3-3  {
  position: absolute;
  bottom: 200.5px;
  left: 890px;
}*/
/*#radio-1-1:checked ~ .slider-pic {
  background-image: url("../pics/Portfolio1.png");
  transition: 0.5s ease-in;
}
#radio-1-2:checked ~ .slider-pic {
  background-image: url("../pics/Portfolio1-2.png");
  transition: 0.5s ease-in;
}
#radio-1-3:checked ~ .slider-pic {
  background-image: url("../pics/Portfolio1-3.png");
  transition: 0.5s ease-in;
}*/
input[id^="radio"]:checked ~ .slider-pic {
  transition: 0.5s ease-in;
}

#radio-1-1:checked ~ .slider-pic#first-site {
  background-image: url("../pics/Portfolio1.png");
}
#radio-1-2:checked ~ .slider-pic#first-site {
  background-image: url("../pics/Portfolio1-2.png");
}
#radio-1-3:checked ~ .slider-pic#first-site {
  background-image: url("../pics/Portfolio1-3.png");
}
#radio-2-2:checked ~ .slider-pic#second-site {
  background-image: url("../pics/Portfolio2.png");
}
#radio-2-2:checked ~ .slider-pic#second-site {
  background-image: url("../pics/Portfolio2-2.png");
}
#radio-2-3:checked ~ .slider-pic#second-site {
  background-image: url("../pics/Portfolio2-3.png");
}
#radio-3-1:checked ~ .slider-pic#third-site {
  background-image: url("../pics/Portfolio3.png");
}
#radio-3-2:checked ~ .slider-pic#third-site {
  background-image: url("../pics/Portfolio2-2.png");
}
#radio-3-3:checked ~ .slider-pic#third-site {
  background-image: url("../pics/Portfolio2-3.png");
}

/*#radio-1-2:checked, #radio-2-2:checked, #radio-3-2:checked ~ .slider-pic#second-site  {
  background-image: url("../pics/Portfolio1-2.png");
}*/
