.body {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  background: #ffffff;
  max-width: 1445px;
}

.wrapper  {
  width: 100%;
  text-align: center;

  max-width: 945px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #f00;
}

.header {
  margin-bottom: 10px;
}

.header > ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: 1px solid #f00;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header > ul > li{
  font-size: 18px;
  display: flex;
  border: 1px solid #f00;
}

.header > ul > li > a{
  text-decoration-line: none;
  color: #828282;
}

.header > ul > li > a:hover{
  text-decoration-line: none;
  color: #070707;
}

.hr-line  {
  margin-top: 42px;
}

.main {
  margin-top: 12px;
}

.language {
  display: flex;
  justify-content: space-between;
}

.language > ul{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  border: 1px solid #f00;
}

.name {
  text-align: left;
  font-size: 47px;
  margin-right: 100px;
  margin-left: -39px;
  border: 1px solid #f00;
}

.info {
  text-align: left;
  font-size: 18px;
  margin-left: 195px;
  margin-top: 60px;
  margin-right: -225px;
  border: 1px solid #f00;
}

.lang-selector  {
  display: flex;
  align-self: flex-end;
  text-align: left;
  transform: rotate(-90deg);
  margin-left: 564px;
  margin-right: -25px;
  margin-bottom: 35px;
  border: 1px solid #f00;
}

.about  {
  background: #F6F6F6;
}

.skills {

}

.programs-pics  {
  display: flex;
  justify-content: space-around;
  margin-left: -30px;
  margin-right: -30px;
}

.programs-name  {
  display: flex;
}

.PS {
  border: 1px solid #f00;
  margin-left: 65px;
}

.AI {
  border: 1px solid #f00;
  margin-left: 192px;
}

.AAE  {
  border: 1px solid #f00;
  margin-left: 184px;
}

.Figma  {
  border: 1px solid #f00;
  margin-left: 180px;
}

.rating {
  display: flex;
}

.portfolio  {
  background: #F6F6F6;
}